/* You can add global styles to this file, and also import other style files */
.grass-container {
    background-color: #08753F;
}

html,
body {
    height: 100%;
    margin: 0;
}

.grass-header {
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;    
}