<div class="grass-container">
    <div class="p-grid">
        <div class="p-col">
            <h1 class="grass-header">Grass Game Calculator</h1>
        </div>
    </div>
    <div class="p-grid p-justify-center">
        <div class="p-col grass-row">
            <button pButton type="button" label="Start new game" class="ui-button-raised grass-button"></button>
        </div>
    </div>
</div>