.grass-container {
    background-color: #08753F;
    height: 100%;
}

.grass-header {
    text-align: center;
    color: white;
    font-family: Impact, Charcoal, sans-serif;    
}

.grass-row {
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.grass-button {
    display:block;
    margin: 0 auto;
}